
.Button{
    background-color: rgb(236,236,236);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    white-space: nowrap;
}

.Button_POSITIVE{
    background-color: rgb(66, 179, 66);
    color:whitesmoke;
}

.Button_NEGATIVE{
    background-color: rgb(212, 61, 61);
    color:whitesmoke;
}